pipelines/Olist_BronzeLayer_DataIngestion/Olist_BronzeLayer_DataIngestion.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"OlistEcommerceData marcusfabric":{"type":"string"},"Olist_BronzeSilver_Lakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"Olist_BronzeLayer_DataIngestion","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy_Olist_MetaDataFile","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"JsonReadSettings"},"datasetSettings":{"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":"refs/heads/main/dataset_map.json"}},"schema":{},"externalReferences":{"connection":"[parameters('OlistEcommerceData marcusfabric')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Olist_BronzeSilver_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"608809b7-6551-4981-8c3c-b15ff24d1c47","artifactId":"[parameters('Olist_BronzeSilver_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"DataFiles","folderPath":"Olist_FileSourceMetaData"}},"schema":{}}},"enableStaging":false}},{"name":"Lookup_Olist_MetaDataFile","type":"Lookup","dependsOn":[{"activity":"Copy_Olist_MetaDataFile","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"LakehouseReadSettings","recursive":false,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"Olist_BronzeSilver_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"608809b7-6551-4981-8c3c-b15ff24d1c47","artifactId":"[parameters('Olist_BronzeSilver_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"DataFiles","folderPath":"Olist_FileSourceMetaData"}},"schema":{}}}},{"name":"ForEach_SourceFile_CopyDatasets","type":"ForEach","dependsOn":[{"activity":"Lookup_Olist_MetaDataFile","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Lookup_Olist_MetaDataFile').output.value","type":"Expression"},"activities":[{"name":"Copy_Olist_BronzeLayerDatasets","type":"Copy","dependsOn":[{"activity":"Delete_ExistingFiles","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@item().source_url","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('OlistEcommerceData marcusfabric')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","fileExtension":".txt"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Olist_BronzeSilver_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"608809b7-6551-4981-8c3c-b15ff24d1c47","artifactId":"[parameters('Olist_BronzeSilver_Lakehouse')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().sink_file","type":"Expression"},"folderPath":{"value":"@item().sink_folder","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Delete_ExistingFiles","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"datasetSettings":{"annotations":[],"linkedService":{"name":"Olist_BronzeSilver_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"608809b7-6551-4981-8c3c-b15ff24d1c47","artifactId":"[parameters('Olist_BronzeSilver_Lakehouse')]","rootFolder":"Files"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().sink_file","type":"Expression"},"folderPath":{"value":"@item().sink_folder","type":"Expression"}}}},"enableLogging":false,"storeSettings":{"type":"LakehouseReadSettings","recursive":false,"enablePartitionDiscovery":false}}}]}}],"lastModifiedByObjectId":"d0c70e26-3249-4e6b-86d6-b1d7d5dc4247","lastPublishTime":"2025-08-18T18:04:54Z"},"dependsOn":[]}]}